<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Инструмент поиска повторов на аудиозаписях</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/frontEnd.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/socket.io.js') }}"></script>
</head>
<body>
<div class="w3-container w3-display-middle w3-border w3-padding w3-center">
    Прогресс выполнения задачи
    <progress value=""
</div>

</body>
</html>